@model SettingsModel

<!DOCTYPE html>

<form asp-action="ChooseBank" asp-controller="Settings" asp-anti-forgery="true" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" asp-for="@Model.SelectedBankId">
            <option disabled>Choose...</option>
            @foreach (var i in Model.Banks)
            {
                <option value="@i.Id">@i.Name</option>
            }
        </select>
        
        <div class="form-group">
            <input type="submit" value="Choose Bank" class="btn"/>
        </div>
    </div>

</form>